{% extends 'base.html.twig' %}

{% block title %}ShowRooms{% endblock %}

{% block body %}
<section class="container-fluid p-0 bg-dark mt-0">
<section class="showCars container h-auto bg-dark min-vh-100-100">
<div class="row">
    {% for show in shows %}
    {% set url = path('carshow' , {'id':show.id}) %}
      <div class="col-12 col-sm-12 col-lg-4 col-xl-4 mb-4 h-50 cardSize shadow">
    <div class="card cardSize d-flex flex-column justify-content-between">
      <div class="card-body d-flex flex-column justify-content-around">
      <a href="{{ url }}">
      <img src="/images/cars/{{show.coverImage}}" alt="{{show.model}}" class="card-img-top rounded-3 cardSizePicture">
      </a>
        <h5 class="card-title d-flex justify-content-between pt-3 pb-3 shadow ps-1 px-1" >{{show.mark.nameMark | capitalize }} {{show.model | capitalize}} <strong>{{show.price}} €</strong></h5>
        <h5 class="card-title text-center d-block m-auto mt-4 rounded-1 shadow mb-4 pt-2 pb-2 bg-warning w-50 text-white">{{show.km}} Km </strong></h5>
        <div class="card-text truncText">{{show.description | raw}}</div>
        <a href="{{url}}" class="btn btn-secondary btn-warning d-block m-auto m-0">Découvrir</a>
      </div>
    </div>
  </div>     
            {% endfor %}
                </div>
</section>
</section>
{% endblock %}
{% block javascripts %}
<script src="javascript/truncateText.js"></script>
{% endblock %}
